name: Release to marketplace

on:
  push:
    branches: [release/*]

jobs:
  publish-marketplace:
    name: Release to marketplace
    runs-on: ubuntu-latest
    environment: Release
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: '22'
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - run: npm install-test
      - name: Show Dependency Manifest
        run: npm ls -a
      - name: Publish to Visual Studio Marketplace
        uses: HaaLeo/publish-vscode-extension@ca5561daa085dee804bf9f37fe0165785a9b14db # v2
        with:
          pat: ${{ secrets.MICROSOFT_MARKETPLACE_TOKEN }}
          registryUrl: https://marketplace.visualstudio.com
      - name: Publish to Open VSX Registry
        uses: HaaLeo/publish-vscode-extension@ca5561daa085dee804bf9f37fe0165785a9b14db # v2
        with:
          pat: ${{ secrets.OPEN_VSX_TOKEN }}
